/**
 * Get in touch
 */

.breakpoint-phone-wide .get-in-touch,
.breakpoint-phone .get-in-touch {
  display: block;
}
.breakpoint-phone .get-in-touch {
  margin-bottom: 4rem;
}
  .get-in-touch__text {
    color: var(--colorDarkGrey);
    display: block;
    font-size: 2.4rem;
    font-family: var(--fontSansFallback);
    padding-right: 2rem;
  }
  .fonts-loaded .get-in-touch__text {
    font-family: var(--fontSans);
  }
  .breakpoint-tablet .get-in-touch__text {
    font-size: 2.2rem;
  }
  .breakpoint-phone-wide .get-in-touch__text,
  .breakpoint-phone .get-in-touch__text {
    font-size: 2.2rem;
    padding-bottom: 1rem;
  }
  .breakpoint-phone .get-in-touch__text {
    font-size: 2rem;
  }
  .get-in-touch__button {
    display: block;
  }
  .get-in-touch:hover .get-in-touch__button,
  .get-in-touch:focus .get-in-touch__button {
    background-color: var(--colorDarkRed);
  }
  .breakpoint-phone-wide .get-in-touch__button,
  .breakpoint-phone .get-in-touch__button {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .breakpoint-phone .get-in-touch__button {
    width: 80%;
  }
